* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
}

html,
body {
    height: auto;
    min-height: 100vh;
}

html {
    background: linear-gradient(180deg, #ea03ff, #0097ff 100%);
}

input:focus {
    outline: none;
}

#register-container {
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#banner-register {
    background: url('../img/projeto.png');
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner-layer {
    background: rgba(0, 0, 0, 0.5); /* Para melhorar a legibilidade do texto */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
}

#project-image {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#register-form {
    width: 50%;
    background: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #0097ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #007acc;
}

#generate-password-link {
    color: #0097ff;
    cursor: pointer;
    text-decoration: underline;
}

#generated-password {
    margin-top: 1rem;
}

#generated-password h4 {
    color: #007acc;
    font-weight: bold;
}
